@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 287 80% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 35%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 287 80% 53%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --swagger-inline-code-foreground: #9012fe;
    --swagger-inline-code-background: rgba(0,0,0,.05);
    --swagger-input-background: rgba(255, 255, 255, 1);
    --swagger-input-foreground: #3b4151;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 287 80% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 75%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 287 80% 53%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --swagger-inline-code-foreground: #cf99ff;
    --swagger-inline-code-background: rgba(255,255,255,.05);
    --swagger-input-background: rgba(255,255,255,.05);
    --swagger-input-foreground: hsl(224 71.4% 4.1%);
  }

  * {
    @apply border-border;
  }
  html,
  body {
    @apply antialiased bg-background text-foreground;
  }

  /* Adding these to make short list items a bit less spacey*/
  li > p:first-child {
    margin-top: 0;
  }
  li > p:last-child {
    margin-bottom: 0;
  }
  td code {
    word-break: break-word;
  }
}


html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}




/* Swagger UI specs for the All APIs page */
.swagger-ui :not(pre):not(pre *):not(span.opblock-summary-method):not(code) {
  color: hsl(var(--foreground)) !important;
}
.swagger-ui .renderedMarkdown code {
  color: var(--swagger-inline-code-foreground) !important;
  background: var(--swagger-inline-code-background) !important;
}
.swagger-ui input, .swagger-ui textarea {
  background: var(--swagger-input-background) !important;
}
.swagger-ui .arrow {
  fill: hsl(var(--foreground));
}
.swagger-ui select {
  background: hsl(var(--muted)) !important;
  color: hsl(var(--foreground)) !important;
  -moz-appearance: auto !important; 
  -webkit-appearance: auto !important;
  appearance: auto !important;
}
.swagger-ui .opblock-section-header {
  background: hsla(0,0%,100%,.1) !important;
}
.swagger-ui .scheme-container {
  display: none;
}
.swagger-ui .model-toggle:after {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" style=\"fill:gray;\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path d=\"M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z\"/></svg>") 50% no-repeat !important;
}

.dot-row-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

